*
!*/
!/index.html
!/modules/chroma.min.js
!/images/**
!/node_modules/jquery/**
!/node_modules/jquery-ui-dist/**
!/node_modules/proj4/**
!olv6.15/**
!ol-layerswitcher-master/**
!css/*.css
!/putten/favicon*
!/putten/index.html
!/putten/kaart.html
!/putten/images/**
!/putten/putteninformatie/**
!putten/dist/**
