*
!*/
!/index.html
!/chroma.min.js
!/images/**
!olv6.16/**
!ol-layerswitcher-master/**
!css/geogemeente.css
!css/geonet.css
!css/Search.css
!/putten/favicon*
!/putten/index.html
!/putten/kaart.html
!/putten/images/**
!/putten/putteninformatie/**
!putten/dist/**
