Options +FollowSymLinks
RewriteEngine On

Header set Access-Control-Allow-Origin "*"

# add .html file extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.+)$ $1.html [L]